body {
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.header-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f1f1f;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 a {
    color: #ffffff;
    text-decoration: none;
}

button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #a72828;
    color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #8b2121;
}

h4 {
    color: #ffffff;
    font-family: Arial, sans-serif;
}

p {
    color: #ffffff;
    padding: 10px;
}

h2 {
    color: #ffffff;
    background-color: #1f1f1f;
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 10px;
    border-radius: 5px;
}

h3 {
    color: #ffffff;
    background-color: #1f1f1f;
    text-align: left;
    font-family: Arial, sans-serif;
    padding: 10px;
    border-radius: 5px;
}

.error {
    color: #ff4d4d;
}

ul li {
    color: #ffffff;
    background-color: #1f1f1f;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    list-style-type: none;
    margin-left: -15px;
}

ul li a:visited {
    color: inherit !important;
    text-decoration: none;
}

ul li a:hover {
    color: #ff0000 !important;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
    color: #ffffff;
}

input,
textarea {
    width: 50%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    resize: none;
    color: #ffffff;
    background-color: #1f1f1f;
    border: 1px solid #333333;
}

button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #a72828;
    color: #ffffff;
    border: none;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #8b2121;
}

.add_publication_index,
.edit_publication,
.delete_publication {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}

div {
    display: flex;
    justify-content: flex-start;
}

h5 {
    color: #ffffff;
    background-color: #1f1f1f;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.nav {
    display: flex;
    align-items: center;
}

.nav form {
    margin-left: 20px;
}

.nav form:first-child {
    margin-left: 0;
}