{% extends "base.html" %}

{% block  title>%} Главная страница {% endblock %}

{% block content %}

<h2>Блог с анекдотами</h2>
{% if user.is_authenticated %}
    <form action="{% url 'add_publication' %}" method="GET">
        <button class="add_publication" type="submit">Добавить публикацию</button>
    </form>
{% endif %}

<ul>
    {% for publication in publications %}
    <li>
        <a href="{% url 'publication_detail' pk=publication.id %}">{{ publication.title }}</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}