{% extends 'base.html' %}

{% block title %}{{ publication.title }}{% endblock %}

{% block content %}
<h2>{{ publication.title }}</h2>
<h3>Автор: {{author}}</h3>
<h4>Текст публикации</h4>
<p>{{ publication.content }}</p>

{% if is_author %}
    <div>
        <form action="{% url 'delete_publication' id=publication.id %}" method="POST">
            {% csrf_token %}
            <button class="delete_publication" type="submit">Удалить публикацию</button>
        </form>
        <form action="{% url 'edit_publication' id=publication.id %}" method="GET">
            <button class="edit_publication" type="submit">Редактировать публикацию</button>
        </form>
    </div>
{% endif %}

<h4>Комментарии</h4>
<ul>
    {% for comment in comments %}
    <li>{{ comment.content }} - {{comment.author.username}}</li>
    {% endfor %}
</ul>

{% if user.is_authenticated%}
    <form method="post" action="{% url 'add_comment' id=publication.id %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Отправить</button>
    </form>
{% endif %}

{% endblock %}